<%= form_for [list] do |f| %>
    <td class="form-group">
        <%= f.text_field :title, class: 'form-control title-field', placeholder: "New List's Title..." %>
    </td>
    <td class="form-group">    
        <%= f.submit "Create", class: 'btn btn-success btn-sm' %>
    </td>
<% end %>
