<% lists.each do |list| %>
    <div>
        <%= list.title %> 
        <%= link_to "Delete list", list, method: :delete, class: 'btn btn-xs btn-danger', data: { confirm: "Deleting \"#{list.title}\" will delete all it's Tasks as well.\nAre you sure you want to do this?" } %>
    </div>
<% end %>
