<div class="lists-container">
    <h2>My Task Lists</h2>

    <table class="lists">
        <%= render partial: 'index', locals: { lists: @lists } %>
        
        <tr class="new-list">
            <%= render partial: 'form', locals: { list: @list } %>
        </tr>
    </table>
</div>
