<%= form_for [task], remote: true do |f| %>
    <tr class="new-task">
        <td class="form-group">
            <%= f.text_field :name, class: 'form-control', placeholder: "Add new task..." %>
        </td>
        <td class="form-group">
            <%= f.date_field :expires_at, max: Time.now + 7.days, min: Time.now + 1.day %>
        </td>
        <td class="form-group">
            <%= f.submit "Save", class: 'btn btn-success' %>
        </td>
    </tr>
<% end %>
    