<%= form_for [task], remote: true do |f| %>
    <td class="form-group">
        <%= f.text_field :name, class: 'form-control', placeholder: "Add new task..." %>
    </td>
    <td class="form-group">
        <%= f.datetime_local_field :expires_at, in: 86400..604800, step: '86400', max: Time.now + 7.days, min: Time.now + 1.day %>
    </td>
    <td class="form-group">
        <%= f.submit "Save", class: 'btn btn-success' %>
    </td>
<% end %>
    