<tr id="task-<%= task.id %>">
    <td><%= task.name %></td>
    <%= time_factor(distance_of_time_in_words(Time.now, task.expires_at), task ) %>
    <td><%= link_to "", task, method: :delete, remote: true, class: 'glyphicon glyphicon-ok-circle' %></td>
</tr>
