<% if @task.destroyed? %>
    $("#task-<%=@task.id%>").fadeOut(400, function() {
        $('th#task-count').html("Showing <%= pluralize(current_user.tasks.unexpired.count, "Task").split.insert(1, "non-completed").join ' ' %>");
        $(".flash").html("<div class='alert alert-success'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:notice] %></div>");
    });
<% else %>
    $(".flash").html("<div class='alert alert-warning'><button type='button' class='close' data-dismiss='alert'>&times;</button><%= flash.now[:alert] %></div>");
<% end %>
