<% users.each do |user| %>
    <% if user != current_user %>
        <tr class="user">
            <td><%= user.username %></td>
            <td>
                <% if current_user.friends.include? user %>
                    <%= link_to "Checkout To-Do", user %>
                <% end %>
            </td>
            <td><%= render partial: 'users/friend_status', locals: {user: user} %></td>
        </tr>
    <% end %>
<% end %>
