<h4>Manage Friends</h4>

<table class="table table-hover">
    <tr>
        <th>All People</th>
        <th></th>
        <th>Friend Status</th>
    </tr>
    <%= render partial: 'index', locals: { users: @users } %> 
</table>
