<!--<h1>Users#show</h1>-->
<!--<p>Find me in app/views/users/show.html.erb</p>-->

<h4>Welcome <i><%= current_user.email %>!</i></h4>

<table class="table table-hover">
    <tr id="heading">
        <th>Task</th>
        <th>Time remaining</th>
        <th></th>
    </tr>
    <%= render @tasks %>
    <tr class="new-task"><%= render partial: 'tasks/form', locals: { task: @task } %></tr>
</table>
