<div class="jumbotron about">
    <h3>To~Do<small>countdown</small> is a self-cleaning task list.</h3>
    <p>After tasks expire they will automatically get marked expired, and removed from the list.</p>
    <p>You can also see what your friends are up to.</p>
</div>
