<div class="landing-about">
    <h3>To~Do<small>countdown</small> is a self-cleaning task list.</h3>
    <div class="text-body">
        <p>With this app, you can create a task list that doesn't get cluttered.
        This is achieved by setting a deadline for every task. Once that deadline
        is reached, the app automatically removes the task from the list.</p>
        <br><p>This is a Bloc.io project that I revamped to fit my personal idea
        for where this app should go.</p>
        <br><p>The main features added are:</p>
        <ul>
            <li>Expired Tasks do not get deleted, only removed from the main view.</li>
            <li>Users can set the deadline from 1-7 days. (default is 7)</li>
            <li>Find and friend other users</li>
            <li>Most of the app runs with AJAX.</li>
        </ul>
    </div>
    <small>For more info contact Meir at: artgardening@gmail.com</small>
</div>
