<div class="landing-about">
    <h3>Hi</h3>
    <div class="text-body">
        <p>Get ready to declutter! You are now just one step away from a task
        list that stays simple. Go ahead <%= link_to "sign in", new_user_session_path, :class => 'navbar-link'  %>, 
        and get cracking!</p>
    </div>
    <br><P>Already have an account? <%= link_to "Sign In", new_user_session_path, :class => 'navbar-link'  %></P>
    <p>New here? <%= link_to "Sign Up", new_user_registration_path, :class => 'navbar-link'  %></p>
</div>
