// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.about {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(142, 142, 142, 0.5);
    text-align: center;
}
